.gridarea__wraper .gridarea__img .gridarea__small__icon i.active {
    background: var(--primaryColor);
}
.dashboard__nav .active a {
    color: blue;
}
.headerarea__main__menu .active a {
    color: blue;
}
.gridarea__img img {
    height: 213px;
    object-fit: cover;
}
ul.dropdown-menu li {
    display: block;
}
.gridarea__heading h3 {
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     /* white-space: normal; */
}
.scc__wrap.active-lesson {
    background-color: #5f2ded;
    color: white;
}
.scc__wrap.active-lesson a {
    color: white;
}
.accordion-body {
    padding-left: 0 !important;
}
.scc__wrap {
    padding-left: 30px;
}
a.blue-link p {
    color: #5f2ded;
}
a.blue-link  {
    color: #5f2ded;
}
.footerarea__copyright__wrapper .copyright__logo img {
    max-width: 100px; 
    height: auto; 
}




